DATABASE_URL=postgresql://username:password@localhost:5432/dbname 
CLOUDINARY_CLOUD_NAME=dcwzobves
CLOUDINARY_API_KEY=653552646816412
CLOUDINARY_API_SECRET=_Kwu6MxHhO0X_-po9tFBdffki0a
SECRET_KEY=your_secret_key
ALGORITHM=HS256