# This template is a low-dependency template.
# By default there is no requirements added here.
# Add the requirements you need to this file.
# or run `make init` to create this file automatically based on the template.
# You can also run `make switch-to-poetry` to use the poetry package manager.
fastapi[all]
uvicorn
pydantic[email]
SQLAlchemy
psycopg2-binary
passlib==1.7.4
bcrypt==4.0.1
pydantic
PyJWT
datetime
cloudinary
python-dotenv